html,
body {
  height: 100%;
}

body {
  margin: 0px;
  background-image: url(/images/finalBackground.PNG);
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

canvas {
  background-image: url(/images/gameCanvas.PNG);
  background-size:cover;
  border: 20px solid green;
}

.screen{
  background-color: aqua;
  width: 1500px;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  font: inherit;
  font-size: 1.5em;
  background-color: purple;
  color: white;
  border: 0;
  padding: 2em;
  border-radius:1.5em;
}
h1, h3 {
  font-size: 3em;
}

#start-screen{
  background-image: url(/images/startImage.jpg);
  background-size:cover;
  border: 20px solid yellowgreen;
}

